__pycache__/
*.pyc
.venv/
venv/
.env
.DS_Store
local_sim/storage/raw/*
local_sim/storage/curated/*
local_sim/storage/hot_path/*
local_sim/storage/quarantine/*
local_sim/storage/checkpoints/*
local_sim/storage/iot_hub_queue.jsonl
local_sim/logs/*
!local_sim/storage/raw/.gitkeep
!local_sim/storage/curated/.gitkeep
!local_sim/storage/hot_path/.gitkeep
!local_sim/storage/quarantine/.gitkeep
!local_sim/storage/checkpoints/.gitkeep
!local_sim/logs/.gitkeep
